// <import> =======================================================================
@import url(nullstyle.css);
// </import> ======================================================================

// <переменные> ===================================================================
$mainColorText: rgb(0, 0, 0);
$maxWidthContainer: 1357px;
// </переменные> ==================================================================

body {
  color: $mainColorText;
  font-weight: 700;
  background-image: url(../img/background.jpg);
  a {
    color: $mainColorText;
    &:hover {
      color: rgb(75, 69, 69);
    }
  }
}
// <container> ====================================================================
.container {
  margin: 0px auto;
  max-width: $maxWidthContainer;
}
// </container> ===================================================================

// <header> =======================================================================
header {
  .container {
    background-image: url(../img/back_header.jpg);
  }
  .menu {
    padding-top: 36px;
    line-height: 32px;
    .logo {
      display: inline-block;
      margin-left: 10px;
      font-size: 35px;
      margin-right: 746px;
    }
    .links {
      display: inline-block;
      .link {
        display: inline-block;
        margin-left: 45px;
        font-size: 20px;
      }
    }
  }
  .picture {
    text-align: center;
    padding-top: 60px;
  }
}
// </header> ======================================================================

// <content> ======================================================================
.content {
  .container {
    background-image: url(../img/back_content.jpg);
  }
  .text {
    display: inline-block;
  }
  h2 {
    text-align: center;
  }
  .block__1 {
    h2 {
      display: inline-block;
      font-size: 50px;
      line-height: 32px;
      padding: 216px 136px 64px 119px;
    }
    p {
      padding-bottom: 200px;
      padding-left: 69px;
      font-size: 18px;
      line-height: 21px;
    }
    img {
      float: right;
    }
  }
  .block__2 {
    .text {
      float: right;
    }
    h2 {
      padding-top: 250px;
      padding-bottom: 73px;
      font-size: 38px;
      line-height: 32px;
    }
    p {
      font-size: 18px;
      line-height: 21px;
    }
  }
  .block__3 {
    h2 {
      padding-top: 273px;
      padding-bottom: 73px;
      font-size: 38px;
      line-height: 32px;
    }
    p {
      padding-left: 68px;
      font-size: 18px;
      line-height: 21px;
      padding-bottom: 130px;
    }
    img {
      float: right;
    }
  }
}
// </content> =====================================================================

// <footer> =======================================================================
footer {
  .container {
    background-image: url(../img/back_footer.jpg);
  }
  .logo {
    display: inline-block;
    padding-top: 137px;
    padding-bottom: 100px;
    padding-left: 73px;
    margin-right: 900px;
    font-size: 35px;
    line-height: 32px;
  }
  .adress__and__contact {
    display: inline-block;
    font-size: 16px;
    line-height: 15px;
    .adress {
      padding-bottom: 22px;
    }
  }
}
// </footer> ======================================================================

// <адаптив> ======================================================================
@media (max-width: $maxWidthContainer) {
  .container {
    max-width: 970px;
  }
  header {
    .menu {
      .logo {
        margin-right: 350px;
      }
    }
  }
  footer {
    .logo {
      margin-right: 600px;
    }
  }
  .content {
    .block__2 {
      .text {
        float: none;
      }
      img {
        float: right;
      }
    }
    .block__4 {
      img {
        float: right;
      }
    }
    .text {
      display: block;
      text-align: center;
      h2 {
        padding: 0 0 20px 0;
      }
      p {
        padding: 0 0 20px 0;
      }
    }
    img {
      width: 970px;
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  header {
    .menu {
      .logo {
        margin-right: 150px;
      }
    }
  }
  footer {
    .logo {
      margin-right: 400px;
    }
  }
  .content {
    img {
      width: 750px;
    }
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
  header {
    .menu {
      .logo {
        margin-right: 0px;
        display: block;
        text-align: center;
        margin-bottom: 10px;
      }
      .links {
        display: block;
        text-align: center;
        .link {
          margin-left: 20px;
        }
      }
    }
    .picture {
      img {
        width: 300px;
        height: 500px;
      }
    }
  }
  footer {
    .logo {
      display: block;
      margin: 0px;
      padding: 0px;
      padding-top: 30px;
      text-align: center;
    }
    .adress__and__contact {
      padding-top: 30px;
      padding-bottom: 30px;
      display: block;
      text-align: center;
    }
  }
}
// </адаптив> ====================================================================
